@font-face {
  font-family: 'Droidsans';
  src: url("../fonts/DroidSans-Bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Droidsans';
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Droidsans';
  color: #0b1425;
  font-size: 12px;
  font-size: 1.2rem; }

a {
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

a:hover,
a:focus {
  text-decoration: none; }

input {
  outline: none; }

button {
  outline: none;
  padding: 0; }

header.header {
  float: right;
  width: 100%; }
  header.header .top_bar {
    float: right;
    width: 100%;
    height: 40px;
    height: 4rem;
    line-height: 35px;
    line-height: 3.5rem;
    border-top: 4px solid;
    border-top: 0.4rem solid;
    border-bottom: 1px solid;
    border-bottom: 0.1rem solid; }
  header.header.style_1 .top_bar {
    background: #fff;
    border-top-color: #fac014;
    border-bottom-color: #ebebeb; }
  header.header.style_3 .top_bar, header.header.style_4 .top_bar {
    background: #fac014;
    border-top: none;
    border-bottom: none; }
  header.header.style_1 .main_area, header.header.style_3 .main_area, header.header.style_4 .main_area {
    height: 100px;
    height: 10rem;
    line-height: 100px;
    line-height: 10rem;
    float: right;
    width: 100%; }

header.header .today {
  float: left; }
  header.header .today i {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 7px;
    margin: 0.7rem;
    float: left; }

header.header.style_3 .today {
  float: left;
  height: 40px;
  height: 4rem;
  line-height: 40px;
  line-height: 4rem; }
  header.header.style_3 .today i {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 12px;
    margin: 1.2rem;
    float: left; }

.top_bar form {
  float: right;
  border-right: 1px solid #ebebeb;
  border-right: 0.1rem solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-left: 0.1rem solid #ebebeb;
  padding: 0 15px;
  padding: 0 1.5rem;
  height: 35px;
  height: 3.5rem; }
  .top_bar form input {
    float: left;
    border: none;
    height: 35px;
    height: 3.5rem;
    width: 215px;
    width: 21.5rem; }
  .top_bar form button {
    float: left;
    border: none;
    height: 35px;
    height: 3.5rem;
    font-size: 16px;
    font-size: 1.6rem;
    margin-right: 10px;
    margin-right: 1rem;
    color: #bbc5c7;
    background: none; }

header.style_3 .top_bar form {
  border: none;
  background: #ffcc35;
  height: 40px;
  height: 4rem; }
  header.style_3 .top_bar form input {
    background: none;
    color: #0b1425; }
  header.style_3 .top_bar form button {
    color: #0b1425; }
  header.style_3 .top_bar form input::-webkit-input-placeholder {
    color: #0b1425; }
  header.style_3 .top_bar form input:-moz-placeholder {
    color: #0b1425; }
  header.style_3 .top_bar form input::-moz-placeholder {
    color: #0b1425; }
  header.style_3 .top_bar form input:-ms-input-placeholder {
    color: #0b1425; }

.top_bar .user_area {
  float: right;
  border-left: 1px solid #ebebeb;
  border-left: 0.1rem solid #ebebeb;
  padding: 0 30px;
  padding: 0 3rem;
  height: 35px;
  height: 3.5rem; }
  .top_bar .user_area * {
    color: #bbc5c7;
    line-height: 35px;
    line-height: 3.5rem;
    margin: 0 10px;
    margin: 0 1rem; }
  .top_bar .user_area a:hover {
    color: #0b1425; }

.top_bar .shopping_cart {
  float: right;
  margin-right: 30px;
  margin-right: 3rem;
  height: 35px;
  height: 3.5rem; }
  .top_bar .shopping_cart a {
    height: 25px;
    height: 2.5rem;
    line-height: 25px;
    line-height: 2.5rem;
    padding: 0 15px;
    padding: 0 1.5rem;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-border-radius: 0.3rem;
            border-radius: 0.3rem;
    font-size: 13px;
    font-size: 1.3rem;
    background: #0b1425;
    color: #fff;
    display: inline-block; }
    .top_bar .shopping_cart a i {
      color: #fac014;
      margin-right: 5px;
      margin-right: 0.5rem; }

header.style_1 .main_area .logo,
header.style_3 .main_area .logo,
header.style_4 .main_area .logo {
  float: left;
  height: 85px;
  height: 8.5rem;
  overflow: hidden; }
  header.style_1 .main_area .logo img,
  header.style_3 .main_area .logo img,
  header.style_4 .main_area .logo img {
    max-height: 100%; }
  header.style_1 .main_area .logo.center,
  header.style_3 .main_area .logo.center,
  header.style_4 .main_area .logo.center {
    float: none;
    display: block;
    text-align: center; }

header.style_1 .main_area .header_ads,
header.style_3 .main_area .header_ads {
  text-align: right; }
  header.style_1 .main_area .header_ads img,
  header.style_3 .main_area .header_ads img {
    max-width: 100%;
    height: auto; }

header .main_menu {
  float: left;
  width: 100%;
  height: 70px;
  height: 7rem; }
  header .main_menu ul {
    float: left;
    width: 100%;
    height: 70px;
    height: 7rem;
    padding: 0;
    list-style: none;
    z-index: 999;
    margin-bottom: 0; }
  header .main_menu ul > li {
    float: left;
    height: 70px;
    height: 7rem;
    line-height: 70px;
    line-height: 7rem;
    position: relative; }
  header .main_menu ul > li:first-child {
    margin-left: 0; }
  header .main_menu ul > li > a {
    display: block;
    font-size: 16px;
    font-size: 1.6rem; }
  header .main_menu ul > li > a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f078";
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-left: 1rem; }
  header .main_menu ul > li > a:only-child:after {
    content: ''; }
  header .main_menu ul > li ul {
    width: 295px;
    width: 29.5rem;
    top: 70px;
    top: 7rem;
    border-top-width: 3px;
    border-top-width: 0.3rem;
    -webkit-transform: translateY(-10px) translateX(-50%);
        -ms-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
    -webkit-transform: translateY(-10px) translateX(-50%);
        -ms-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
    position: absolute;
    height: auto;
    left: 50%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    pointer-events: none;
    opacity: 0; }
  header .main_menu ul > li:hover > ul {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
        -ms-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%); }
  header .main_menu ul > li ul li {
    width: 100%;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-width: 0.1rem;
    height: 45px;
    height: 4.5rem; }
  header .main_menu ul > li ul li a {
    line-height: 45px;
    line-height: 4.5rem;
    padding: 0 30px;
    padding: 0 3rem;
    font-size: 14px;
    font-size: 1.4rem; }
  header .main_menu ul > li ul li a:after {
    content: "\f101";
    position: absolute;
    margin: 0;
    top: 50%;
    right: 20px;
    right: 2rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  header .main_menu ul > li > ul li ul {
    left: 293px;
    left: 29.3rem;
    -webkit-transform: translate(10px, 0);
        -ms-transform: translate(10px, 0);
            transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
        -ms-transform: translate(10px, 0);
            transform: translate(10px, 0);
    top: -2px;
    top: -0.2rem;
    border-top: none; }
  header .main_menu ul > li > ul li:hover > ul {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }

header.style_1 .main_menu {
  background: #0b1425; }
  header.style_1 .main_menu ul > li {
    margin: 0 35px;
    margin: 0 3.5rem; }
  header.style_1 .main_menu ul > li > a {
    color: #fff; }
  header.style_1 .main_menu ul > li:hover > a {
    color: #fac014; }
  header.style_1 .main_menu ul > li ul {
    border-top: solid #fac014;
    background: #0b1425; }
  header.style_1 .main_menu ul > li ul li {
    border-bottom: solid #212a3b;
    border-left: solid #212a3b;
    margin: 0;
    border-width: 1px;
    border-width: 0.1rem; }

header.style_3 .main_menu,
header.style_4 .main_menu {
  border-top: solid #f1f1f1;
  border-bottom: solid #f1f1f1;
  border-width: 1px;
  border-width: 0.1rem; }
  header.style_3 .main_menu ul,
  header.style_4 .main_menu ul {
    width: auto; }
  header.style_3 .main_menu ul > li,
  header.style_4 .main_menu ul > li {
    margin: 0 20px;
    margin: 0 2rem; }
  header.style_3 .main_menu ul > li:first-child,
  header.style_4 .main_menu ul > li:first-child {
    margin-right: 0; }
  header.style_3 .main_menu ul > li > a,
  header.style_4 .main_menu ul > li > a {
    color: #0b1425;
    padding: 0 15px;
    padding: 0 1.5rem; }
  header.style_3 .main_menu ul > li > a:hover,
  header.style_4 .main_menu ul > li > a:hover {
    background: #f4f4f4; }
  header.style_3 .main_menu ul > li ul,
  header.style_4 .main_menu ul > li ul {
    border-top: solid #0b1425;
    background: #f9f9f9;
    width: 295px;
    width: 29.5rem; }
  header.style_3 .main_menu ul > li ul li,
  header.style_4 .main_menu ul > li ul li {
    border-bottom: solid #e9e9e9;
    border-left: solid #e9e9e9;
    border-width: 1px;
    border-width: 0.1rem;
    margin: 0; }
  header.style_3 .main_menu ul > li ul li:hover > a,
  header.style_4 .main_menu ul > li ul li:hover > a {
    background: none;
    color: #fac014; }

header.style_4 .top_bar .user_area {
  border-left: none;
  padding-right: 0; }

header.style_4 .top_bar .user_area * {
  color: #0b1425; }

header.style_4 .main_area form {
  width: 90%;
  float: right;
  border: solid #eaeaea;
  border-width: 1px;
  border-width: 0.1rem;
  height: 44px;
  height: 4.4rem;
  margin: 28px 0 0 5%;
  margin: 2.8rem 0 0 5%; }
  header.style_4 .main_area form input {
    float: left;
    width: -webkit-calc( 100% - 48px);
    width: calc( 100% - 48px);
    width: calc( 100% - 48px);
    height: 42px;
    height: 4.2rem;
    padding: 0 10px;
    padding: 0 1rem;
    line-height: 42px;
    line-height: 4.2rem;
    border: none; }
  header.style_4 .main_area form button {
    float: left;
    width: 48px;
    width: 4.8rem;
    height: 42px;
    height: 4.2rem;
    line-height: 42px;
    line-height: 4.2rem;
    font-size: 15px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #bbc5c7;
    text-align: center; }

header.style_4 .main_menu .shopping_cart {
  float: right;
  height: 34px;
  height: 3.4rem;
  margin-top: 18px;
  margin-top: 1.8rem;
  padding: 0 15px;
  padding: 0 1.5rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
  line-height: 34px;
  line-height: 3.4rem;
  font-size: 13px;
  font-size: 1.3rem;
  background: #fac014; }
  header.style_4 .main_menu .shopping_cart a {
    color: #0b1425; }

main.main {
  background: #f7f8fa;
  float: left;
  width: 100%; }

section.top {
  float: right;
  width: 100%;
  margin-top: 30px;
  margin-top: 3rem; }
  section.top .carousel {
    overflow: hidden;
    height: 400px;
    height: 40rem; }
  section.top .carousel-inner > .item img {
    width: 100%; }
  section.top .carousel-control.left,
  section.top .carousel-control.right {
    background: none;
    width: 40px;
    width: 4rem;
    height: 40px;
    height: 4rem;
    font-size: 40px;
    font-size: 4rem;
    line-height: 40px;
    line-height: 4rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
    color: #fff; }
  section.top .selection {
    float: left;
    width: 100%; }
    section.top .selection h4 {
      float: left;
      margin-top: 0;
      margin-bottom: 15px;
      margin-bottom: 1.5rem; }
    section.top .selection a.more {
      line-height: 20px;
      line-height: 2rem; }
    section.top .selection ul {
      float: right;
      width: 100%;
      list-style: none;
      padding: 0;
      border: solid #e4e4e4;
      background: #fff;
      border-width: 1px;
      border-width: 0.1rem;
      padding-top: 15px;
      padding-top: 1.5rem;
      margin-bottom: 0; }
    section.top .selection ul li {
      float: left;
      width: 100%;
      border-bottom: solid #e4e4e4;
      padding: 20px 15px;
      padding: 2rem 1.5rem;
      border-bottom-width: 1px;
      border-bottom-width: 0.1rem; }
    section.top .selection ul li:last-child {
      border-bottom: none; }
    section.top .selection ul li .thumb {
      float: left;
      width: 100px;
      width: 10rem;
      height: 75px;
      height: 7.5rem;
      margin-right: 10px;
      margin-right: 1rem; }
    section.top .selection ul li h3 {
      margin: 0;
      line-height: 1.35;
      font-size: 18px;
      font-size: 1.8rem;
      margin-bottom: 10px;
      margin-bottom: 1rem; }
    section.top .selection ul li h3 a {
      color: #0b1425; }
    section.top .selection ul li h3 a:hover {
      color: #fac014; }
    section.top .selection ul li .time {
      color: #979a9f; }

a.more {
  color: #b9b9b9;
  font-size: 13px;
  font-size: 1.3rem; }

a.more:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f061";
  margin-left: 10px;
  margin-left: 1rem;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

a.more:hover:after {
  color: #fac014; }

section.latest_news {
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-top: 3rem; }
  section.latest_news .body {
    float: left;
    line-height: 50px;
    width: 100%;
    height: 50px;
    height: 5rem;
    line-height: 50px;
    line-height: 5rem;
    background: #0b1425; }
    section.latest_news .body ul {
      display: none; }
    section.latest_news .body a {
      color: #fff;
      font-size: 16px;
      font-size: 1.6rem; }
  section.latest_news .title {
    height: 50px;
    height: 5rem;
    padding: 0 20px;
    padding: 0 2rem;
    line-height: 50px;
    line-height: 5rem;
    font-size: 15px;
    font-size: 1.5rem;
    margin-right: 15px;
    margin-right: 1.5rem;
    background: #fac014;
    color: #0b1425;
    position: relative;
    float: left;
    font-weight: bold; }
  section.latest_news .title:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #fac014;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    content: '';
    right: -7px;
    right: -0.7rem;
    border-width: 8px 0 8px 7px;
    border-width: 0.8rem 0 0.8rem 0.7rem; }
  section.latest_news .typed-cursor {
    opacity: 1;
    color: #fff;
    font-size: 18px;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    padding: 0 5px;
    padding: 0 0.5rem; }

.home_content {
  float: left;
  width: 100%;
  margin-bottom: 500px; }

.home_content .box {
  float: right;
  width: 100%; }
  .home_content .box .title {
    float: left;
    width: 100%;
    border-left: solid #0b1425;
    border-left-width: 2px;
    border-left-width: 0.2rem;
    padding-left: 15px;
    padding-left: 1.5rem;
    margin-top: 30px;
    margin-top: 3rem; }
    .home_content .box .title h4 {
      margin: 0;
      font-size: 28px;
      font-size: 2.8rem;
      font-weight: bold; }
    .home_content .box .title h6 {
      margin: 10px 0 0;
      margin: 1rem 0 0;
      font-size: 14px;
      font-size: 1.4rem;
      color: #979a9f; }
    .home_content .box .title a.more {
      font-size: 16px;
      font-size: 1.6rem; }
  .home_content .box .body {
    float: left;
    width: 100%; }

.big_post {
  float: left;
  width: 100%;
  border: solid #e3e3e5;
  background: #fff;
  margin-top: 30px;
  margin-top: 3rem;
  border-width: 1px;
  border-width: 0.1rem; }
  .big_post .thumb {
    float: left;
    width: 100%; }
    .big_post .thumb img {
      max-width: 100%;
      width: 100%; }
  .big_post h2 {
    font-size: 20px;
    font-size: 2rem;
    padding: 0 15px;
    padding: 0 1.5rem;
    width: 100%;
    float: left;
    line-height: 1.3; }
    .big_post h2 a {
      color: #0b1425; }
    .big_post h2 a:hover {
      color: #fac014; }
  .big_post .time {
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0 15px;
    padding: 0 1.5rem;
    width: 100%;
    float: left;
    color: #979a9f; }
  .big_post .excerpt {
    font-size: 15px;
    font-size: 1.5rem;
    padding: 10px 15px;
    padding: 1rem 1.5rem;
    width: 100%;
    float: left;
    color: #979a9f; }

.small_post {
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-top: 3rem; }
  .small_post ul {
    float: right;
    width: 100%;
    list-style: none;
    padding: 0;
    border: solid #e4e4e4;
    background: #fff;
    border-width: 1px;
    border-width: 0.1rem;
    padding-top: 10px;
    padding-top: 1rem;
    margin-bottom: 0; }
  .small_post ul li {
    float: left;
    width: 100%;
    border-bottom: solid #e4e4e4;
    padding: 20px 15px;
    padding: 2rem 1.5rem;
    border-bottom-width: 1px;
    border-bottom-width: 0.1rem; }
  .small_post ul li:last-child {
    border-bottom: none; }
  .small_post ul li .thumb {
    float: left;
    width: 100px;
    width: 10rem;
    height: 75px;
    height: 7.5rem;
    margin-right: 10px;
    margin-right: 1rem; }
  .small_post ul li h2 {
    margin: 0;
    line-height: 1.35;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-bottom: 1rem; }
  .small_post ul li h2 a {
    color: #0b1425; }
  .small_post ul li h2 a:hover {
    color: #fac014; }
  .small_post ul li .time {
    color: #979a9f; }

.shop-carousel {
  float: left;
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 30px 10% 0;
  margin: 3rem 10% 0; }
  .shop-carousel .owl-nav {
    font-size: 42px;
    font-size: 4.2rem; }
  .shop-carousel .owl-nav .owl-prev,
  .shop-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    color: #b5b5b7; }
  .shop-carousel .owl-nav .owl-next {
    -webkit-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    left: -10%; }
  .shop-carousel .owl-nav .owl-prev {
    -webkit-transform: translate(100%, -50%);
        -ms-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    right: -10%; }
  .shop-carousel .owl-nav .owl-prev:hover,
  .shop-carousel .owl-nav .owl-next:hover {
    color: #0b1425; }
  .shop-carousel .product {
    width: 100%;
    border: #e6e6e6 solid;
    background: #fff;
    height: 300px;
    height: 30rem;
    border-width: 1px;
    border-width: 0.1rem;
    position: relative; }
  .shop-carousel .product .thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: #ecf0f1;
    overflow: hidden; }
  .shop-carousel .product .thumb:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms; }
  .shop-carousel li:hover .product .thumb:before {
    opacity: 1; }
  .shop-carousel .product .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: #fff;
    text-align: center;
    -webkit-transition: background 300ms;
    transition: background 300ms;
    padding: 0 10px;
    padding: 0 1rem; }
    .shop-carousel .product .info h3 {
      font-size: 20px;
      font-size: 2rem; }
      .shop-carousel .product .info h3 a {
        color: #0b1425; }
    .shop-carousel .product .info .price {
      font-size: 16px;
      font-size: 1.6rem;
      color: #979a9f; }
  .shop-carousel li:hover .product .info {
    background: #0b1425; }
    .shop-carousel li:hover .product .info a,
    .shop-carousel li:hover .product .info .price {
      color: #fff; }
  .shop-carousel .product .thumb .add_to_cart {
    position: absolute;
    padding: 0 15px;
    padding: 0 1.5rem;
    height: 40px;
    height: 4rem;
    line-height: 40px;
    line-height: 4rem;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-border-radius: 0.3rem;
            border-radius: 0.3rem;
    top: 40px;
    top: 4rem;
    color: #0b1425;
    background: #fff;
    z-index: 999;
    left: 50%;
    -webkit-transform: translate(-50%, -200%);
        -ms-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
    min-width: 70%;
    text-align: center;
    font-size: 14px; }
  .shop-carousel li:hover .product .thumb .add_to_cart {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .shop-carousel .product .thumb .permalink {
    position: absolute;
    padding: 0 15px;
    padding: 0 1.5rem;
    height: 40px;
    height: 4rem;
    line-height: 40px;
    line-height: 4rem;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-border-radius: 0.3rem;
            border-radius: 0.3rem;
    bottom: 40px;
    bottom: 4rem;
    color: #0b1425;
    background: #fff;
    z-index: 999;
    left: 50%;
    -webkit-transform: translate(-50%, 200%);
        -ms-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%);
    min-width: 70%;
    text-align: center;
    font-size: 14px; }
  .shop-carousel li:hover .product .thumb .permalink {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .shop-carousel .product .thumb .add_to_cart:hover,
  .shop-carousel .product .thumb .permalink:hover {
    background: #fac014; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

